h1 Вы создали заявку на сайте CryptoChange.com
p Детали обмена
p
  b № заявки: 
  span  #{id}
p
  b Вы отдаете: 
  span  #{origin} - #{osum} #{ocode}
p
  b Вы получаете: 
  span  #{target} - #{tsum} #{tcode}
p Для продолжения перейдите на сайт CryptoChange.com