h1 Новая заявка на сайте CryptoChange.com
p Детали обмена
p
  b № заявки: 
  span  #{id}
p
  b Клиент отдает: 
  span  #{origin} - #{osum} #{ocode}
p
  b Клиент получает: 
  span  #{target} - #{tsum} #{tcode}
a(href=link target='blank') Открыть заявку