extends layout

block content
  .container-fluid
    .row.page-titles
      .col-8.col-md-6.align-self-center
        h3.text-themecolor.m-b-0.m-t-0 Настройки
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Обменник
          li.breadcrumb-item.active Настройки
      include ./modules/status
    .row
      .col-xlg-9.col-lg-8.col-md-12
        include ./modules/messages
        .card
          .card-block
            form#main-form.form-horizontal.form-material(method='post' action='/admin/preset/update')
              .row
                .form-group.col-lg-12
                  label.col-md-12(for='minPayout') Минимальная сумма партнерской выплаты (USD)
                  .col-12
                    input#minPayout.form-control.form-control-line(type='number' step='0.01' name="minPayout" value=preset.minPayout)
                .form-group.col-lg-12
                  label.col-md-12(for='oxrKey') OXR API Ключ
                  .col-12
                    input#oxrKey.form-control.form-control-line(type='text' name="oxrKey" value=preset.oxrKey)
                .form-group.col-lg-12
                  label.col-md-12(for='orderLifetime') Срок жизни заявки (мин)
                  .col-12
                    input#orderLifetime.form-control.form-control-line(type='number' step='1' name="orderLifetime" value=preset.orderLifetime)
                .form-group.col-lg-12
                  label.col-md-12(for='rates') Статистика курсов валют
                  .col-12
                    input#rates.form-control.form-control-line(type='text' name="rates" value=preset.rates)
                .form-group.col-lg-12
                  label.col-md-12(for='defaultOrigin') Направление по умолчанию (отдаваемая валюта)
                  .col-12
                    input#defaultOrigin.form-control.form-control-line(type='text' name="defaultOrigin" value=preset.defaultOrigin)
                .form-group.col-lg-12
                  label.col-md-12(for='defaultTarget') Направление по умолчанию (получаемая валюта)
                  .col-12
                    input#defaultTarget.form-control.form-control-line(type='text' name="defaultTarget" value=preset.defaultTarget)
              button.btn.btn-info.pull-right Сохранить
        .card
          .card-block
            h4.card-title.m-t-10 Лог проблем
            form#main-form.form-horizontal.form-material(method='post' action='/admin/preset/clearlog')
              .row
                .form-group.col-lg-12
                  .col-12
                    textarea#log.form-control.form-control-line(rows='15')=log
              button.btn.btn-danger.pull-right Очистить
