extend layout

block content
  .container-fluid
    .row.page-titles
      .col-md-6.col-8.align-self-center
        h3.text-themecolor.m-b-0.m-t-0 Пользователи
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Обменник
          li.breadcrumb-item.active Пользователи
      include ./modules/status
    .row
      .col-sm-12
        .card
          .card-block
            h4.card-title
              i.fa.fa-filter.text-info
              span  Быстрый поиск
            form.form-horizontal.form-material.m-t-30(method='get' action='users')
              .row
                .form-group.col-lg-3
                  label.col-md-12(for='email') Почта
                  .col-md-12
                    input#id.form-control.form-control-line(type='text' name='email' value=query.email)
                .form-group.col-lg-3
                  label.col-md-12(for='referrer') По приглашению
                  .col-md-12
                    input#id.form-control.form-control-line(type='text' name='referrer' value=query.referrer)
                .form-group.col-lg-3
                  label.col-md-12 Роль
                  .col-md-12
                    select#status.form-control(name='role' value=query.role)
                      option(value='') Все
                      option(value='false' selected=query.role=='false') Пользователь
                      option(value='true' selected=query.role=='true') Администратор
                .form-group.col-lg-2.m-t-30
                  .col-sm-12
                    button.btn.btn-info.pull-right Применить
          .card-block
            h4.card-title Пользователи
            .table-responsive
              table.table.stylish-table(role='users')
                thead
                  tr
                    th(colspan="2") Пользователь
                    th Сетевой адрес (IP)
                    th По приглашению
                    th Обмены
                    th Партн. переходы
                    th Партн. баланс
                tbody(style="cursor:pointer")
                  if !users || users.length == 0
                    tr
                      td Нет пользователей
                  else
                    each user in users
                      tr(onclick=`location='/admin/users/${user.id}'`)
                        td(style="width:50px")
                          if user.role
                            span.round.round-primary=user.email[0].toUpperCase()
                          else
                            span.round.round-success=user.email[0].toUpperCase()
                        td
                          h6=user.email
                          small.text-muted=user.role ? 'Администратор' : 'Пользователь'
                        td=user.ip ? user.ip : 'Нет'
                        td
                          if user.referrer
                            a(href=`/admin/users/${user.referrer.id}`)=user.referrer.email
                          else
                            | Нет
                        td=user.inflow + ' USD'
                        td=user.followers
                        td=user.accrual + ' USD'
          .card-block
            include ./modules/pagination